video {
    object-fit: cover;
}
.break-title-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.break-title-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* ------------ Category display ------------ */
.slick-list {
    margin: 0px 25px !important;
}
.category-btn {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 500;
    color: rgb(95, 95, 95);
    background-color: rgb(233, 233, 233);
}
.category-btn:focus {
    outline: none;
}
.category-btn:hover {
    cursor: pointer;
    color: black;
    border-color: black;
    background-color: rgb(224, 224, 224);
}
.slick-prev {
    left: 0 !important;
    z-index: 1;
}
.slick-next {
    right: 5px !important;
    z-index: 1;
}
.slick-prev:before {
    background-image: linear-gradient(to right, rgb(184, 184, 184) , white);
    padding: 16px 3px;
    color: rgb(100, 100, 100) !important;
}
.slick-next:before {
    background-image: linear-gradient(to left, rgb(184, 184, 184) , white);
    padding: 16px 3px;
    color: rgb(100, 100, 100) !important;   
}