.channel-logo .profile-btn {
    border: none;
    font-size: 15px;
    background-color: transparent;
    color: rgb(146, 146, 146);
    padding: 0px;
    font-weight: 600;
    margin-top: 20px !important;
}
.channel-logo .profile-btn:hover{
    color: rgb(62, 62, 255);
    cursor: pointer;
}
.channel-logo .profile-btn:focus {
    outline: none;
}
.create-channel-data .input {
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid rgb(177, 177, 177) ;
}
.create-channel-data .input:focus {
    border-color: rgb(142, 142, 255);
    outline: none;
}
.create-channel-data .textarea {
    width: 100%;
    padding: 10px;
    border-radius: 0px;
    border: 2px solid rgb(177, 177, 177);
}
.create-channel-data .textarea:focus {
    border-color: rgb(142, 142, 255);
    outline: none;
}
.btn-container {
    float: right;
    font-size: 20px;
}
.btn-container .cancel-btn,
.btn-container .create-btn {
    color: rgb(146, 146, 146);
    background-color: transparent;
    border: none;
}
.btn-container .cancel-btn {
    padding: 0px;
    font-weight: 600;
}
.btn-container .create-btn {
    padding: 0px;
    font-weight: 600;
}
.btn-container .cancel-btn:hover {
    cursor: pointer;
    color: rgb(255, 79, 79);
}
.btn-container .create-btn:hover {
    cursor: pointer;
    color: rgb(87, 87, 255);
}
.btn-container .create-btn:disabled {
    cursor: not-allowed;
    color: rgb(146, 146, 146);
}