.header-container {
    background-color: rgb(230, 230, 230);
    position: sticky;
    top: 0px;
    z-index: 2;
}
.navigation li {
    position: relative;
    display: inline-block;
    margin: 2.5px auto;
}
ul , li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.dropdown {
    display: none;
    z-index: 1;
    border-radius: 10px;
    position: absolute;
    right: 0%;
    width: 350px;
    background-color: white;
    box-shadow: 5px 10px 18px #888888;
    padding-bottom: 10px;
}
li:hover .dropdown {
    display: block;
}
.navigation .btn-signin {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: rgb(145, 145, 145);
  margin-top: 3px;
  border: none;
  padding: 0px;
  background-color: transparent;
}
.navigation .btn-signin:hover {
  color: black;
  cursor: pointer;
}
.navigation .btn-signin:focus {
  outline: none;
}

/* -------------------- search-bar ----------------------- */
.search-input {
  width: 90%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  background-color: rgb(243, 243, 243);
}
.search-input:focus {
  outline: none;
  background-color: white;
}
.btn-search {
  width: 10%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background-color: rgb(204, 204, 204);
}
.btn-search:hover {
  cursor: pointer;
  background-color: rgb(160, 160, 160);
}
.btn-search:focus {
  outline: none;
}

/* ---------------------- Dropdown ------------------------- */

.button-container .navigation hr {
    margin: 8px 0;
}
.button-container button:focus{
    outline: none;
}
.header-container button img, 
.header-container a img {
    margin: 0 20px 0 0;
    height: 30px;
    width: 25px;
}
.dropdown-content li a,
.dropdown-content li button {
    width: 350px;
    display: block;
    text-align: left;
    border: none;
    color: rgb(109, 109, 109);
    text-decoration: none;
    padding: 0px 20px;
    font-size: 20px;
    font-weight: 4  00;
    padding: 5px 20px;
  }
  .dropdown-content li button {
    background-color: transparent;
  }
  .dropdown-content a:hover,
  .dropdown-content li button:hover {
    cursor: pointer;
    background-color: rgb(209, 209, 209)
  }

/* ---------------------- Sidebar ------------------------- */

.nav-menu::-webkit-scrollbar {
    width: 5px;
}
.nav-menu::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 15px;
}
.nav-menu::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
  .menu-bars .btn-close {
    color: gray;
    font-size: 25px;
    cursor: pointer;
  }
  .menu-bars .btn-close:hover {
    color: black;
  }
  .menu-bars .btn-menu {
    font-size: 30px;
    cursor: pointer;
  }
  .nav-menu {
    background-color: rgb(230, 230, 230);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  .nav-text {
    display: block;
    list-style: none;
  }
  .nav-text .btn-navigation {
    background-color: transparent;
    border: none;
    padding: 6px 20px;
    font-size: 22px;
    cursor: pointer;
    color: rgb(121, 117, 117);
    width: 100%;
    text-align: left;
  }
  .nav-text .btn-navigation:hover {
    background-color: #c4c4c4;
    color: black;
  }
  .nav-text .btn-navigation:focus {
    outline: none;
  }
  .nav-menu-items {
    width: 100%;
    box-shadow: 0 -10px 20px -5px rgba(115,115,115,0.75), 0 10px 20px -5px rgba(115,115,115,0.75), 10px 0 20px -5px rgba(115,115,115,0.75);
  }
  .navbar-toggle {
    margin-bottom: 20px;
    text-align: right;
  }
  .navbar-toggle svg {
    height: 25px;
  }