.clear {
    clear: both;
}
.header-container {
    width: 100%;
    background-color: rgb(230, 230, 230);
    padding: 0 40px;
    position: sticky;
    top: 0px;
    z-index: 2;
}
.menu {
    float: left;
}
.button-container {
    float: right;
}
.navigation li .header-avatar {
    margin-top: 2px;
}
.navigation li {
    display: inline-block;
    position: relative;
}
ul , li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.dropdown {
    display: none;
    z-index: 1;
    border-radius: 10px;
    position: absolute;
    right: 0%;
    width: 350px;
    background-color: white;
    box-shadow: 5px 10px 18px #888888;
    padding-bottom: 10px;
}
.navigation li a {
    display: block;
    color: rgb(155, 155, 155);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 0 5px;
    margin: 10px;
}
.nav-item a:hover {
    color: white;
}
.dropdown-content li a,
.dropdown-content li button {
    width: 310px;
    text-align: left;
    border: none;
    color: gray;
    text-decoration: none;
    margin: 5px 20px;
    padding: 5px 0;
    font-size: 20px;
    font-weight: 400;
}
.dropdown-content li:hover {
    background-color: #ceebff;
}
.navigation li:hover .dropdown {
    display: block;
}

/* ---------------------- Dropdown ------------------------- */

.user .user-profile {
    float: left;
}
.user .user-info {
    float: left;
}
.user .user-profile .dropdown-avatar {
    margin: 10px 30px 10px 10px;
}
.user-info .user-name {
    margin: 15px 0 0 0;
    font-size: 20px;
    font-weight: 600;
}
.user-info .user-email {
    font-size: 15px;
}
.button-container .navigation button,
.button-container .navigation a {
    padding: 0;
    background-color: transparent;
}
.button-container .navigation hr {
    margin: 8px 0;
}
.button-container button:focus{
    outline: none;
}
.header-container button img, 
.header-container a img {
    margin: 0 20px 0 0;
    height: 30px;
    width: 25px;
}

@media only screen and (max-width: 768px) {
    .header-container {
        padding: 0 10px;
    }
}

/* ---------------------- Sidebar ------------------------- */

.nav-menu::-webkit-scrollbar {
    width: 5px;
}
.nav-menu::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 15px;
}
.nav-menu::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
  .menu-bars svg {
    height: 30px;
    width: 30px;
    margin-top: 8px;
  }
  .nav-menu {
    background-color: rgb(230, 230, 230);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    overflow: scroll;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: block;
    list-style: none;
  }
  .sidebar-icon svg {
      width: 30px;
      height: 30px;
      margin-top: 5px;
  }
  .sidebar-title {
    margin-left: 15px;
    margin-top: 5px;
  }
  
  .nav-text a {
    width: auto;
    text-align: left;
    border: none;
    color: black;
    text-decoration: none;
    padding: 0px 20px;
    font-size: 20px;
    font-weight: 400;
    padding: 5px 20px;
    display: flex;
  }
  
  .nav-text a:hover {
    background-color: #c4c4c4;
    cursor: pointer;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    margin-bottom: 20px;
    text-align: right;
  }
  .navbar-toggle svg {
    height: 25px;
  }