.L-header {
    background-color: #c4c4c4;
    position: sticky;
    z-index: 1;
    top: 40px;
}
.L-header .remove-all-fvourites-btn  {
    font-weight: 500;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 18px;
}
.L-header .remove-all-fvourites-btn:hover {
    color: black;
}
.L-header .remove-all-fvourites-btn:focus {
    outline: none;
}
.L-vd-queue .remove-fvourites-btn {
    font-size: 18px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: rgb(255, 96, 96);
    visibility: hidden;
    z-index: 2;
}
.L-vd-queue:hover .remove-fvourites-btn {
    visibility: visible;
}
.L-vd-queue .remove-fvourites-btn:focus {
    outline: none;
}
.L-vd-queue .vd-play-btn {
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.L-vd-queue .vd-play-btn:focus {
    outline: none;
}
.L-vd-queue:hover {
    background-color: rgb(230, 230, 230);
}
.L-vd-container .signin-btn {
    display: block;
    margin: 100px auto;
    text-align: center;
}

/* --------------- Spinner ---------------- */

.L-vd-container .spinner {
    margin: 200px auto;
}

/* ------------------------------------------ */
.no-liked-videos {
    display: block;
    margin: 100px auto;
    text-align: center;
}