.S-vd-queue:hover {
    background-color: rgb(230, 230, 230);
}
.btn-item {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.btn-item:focus {
    outline: none;
}
.item:hover {
    background-color: rgb(238, 238, 238);
}
.loader-container {
    margin-top: 250px;
}