.btn-container button{
    position: relative;
    color: rgb(146, 146, 146);
    background-color: transparent;
    border: none;
}
.btn-container button:focus {
    outline: none;
}
button .like-btn:hover,
button .like-btn-active {
    cursor: pointer;
    color: rgb(34, 166, 255);
}
button .favourite-btn:hover,
button .favourite-btn-active {
    cursor: pointer;
    color: rgb(255, 46, 46);
}
button .watch-later-btn:hover,
button .watch-later-btn-active {
    cursor: pointer;
    color: rgb(255, 206, 115);
}
.btn-container button .tooltip-text {
    visibility: hidden;
    font-size: 12px;
    background-color: rgb(134, 134, 134);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    right: 0%;
}
button .like-btn:hover + .tooltip-text,
button .favourite-btn:hover + .tooltip-text,
button .watch-later-btn:hover + .tooltip-text {
    visibility: visible;
}
.video-details .btn-container button {
    margin-left: 10px;
    font-size: 30px;
    padding: 0px;
}
.vd-queue button {
    background-color: transparent;
    padding: 0%;
    margin: 0%;
    cursor: pointer;
    border: none;
}
.vd-queue button:focus {
    outline: none;
}
.vd-content {
    width: 100%;
    object-fit:cover;
    height: 100px;
}
.hr {
    margin: 0px 0px 16px;
}

/*-------------------Channel-View Section-------------------------*/

.channel-profile span {
    font-size: 20px;
}

/*--------------------Comment Section---------------------------*/

.comment-container {
    width: 100%;
    padding: 20px;
}
.add-comment {
    height: 80px;
}
.cmt-input {
    border: none;
    border-bottom: 3px solid rgb(177, 177, 177);
    margin: 5px auto;
    background-color: transparent;
} 
.cmt-input:focus {
    border-bottom: 3px solid rgb(142, 142, 255);
    outline: none;
}
.cmt-btn {
    padding: 0;
    margin: 10px auto;
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
    color: rgb(131, 131, 131);
}
.cmt-btn:hover {
    cursor: pointer;
    color: rgb(56, 56, 255);
}
.cmt-btn:focus {
    outline: none;
}
.user-profile-cmt span {
    font-size: 20px;
}
.user-info .name {
    font-size: 17px;
    font-weight: 500;
    width: 100%;
}
.user-info .comment {
    font-size: 15px;
    color: rgb(97, 97, 97);
}
.user-info .cmt-time {
    font-size: 12px;
    color: rgb(180, 180, 180);
}

/* --------------- Spinner ---------------- */

.container-fluid .spinner {
    margin: 200px auto;
    display: block;
}



@media (min-width: 300px) and (max-width: 450px) {
    .vd-content {
        height: 200px;
    }
}
@media (min-width: 450px) and (max-width: 770px) {
    .vd-content {
        height: 150px;
    }
}
@media (min-width: 770px) and (max-width: 990px) {
    .vd-content {
        height: 200px;
    }
}
@media (min-width: 1700px)  {
    .vd-content {
        height: 150px;
    }
}