.clear {
    clear: both;
}
.video-container {
    width: 90%;
    margin: 20px auto;
    display: block;
}
.video-container .vd-playing-cotainer { 
    width: 65%;
    float: left;
}
.vd-playing {
    width: 100%;
    height: 500px;
}
.video-container .vd-list-container {
    width: 33%;
    float: right;
}
.vd-queue {
    width: 100%;
    height: auto;
}
.vd-content-container{
    height: 100px;
    float: left;
}
.vd-content {
    width: 200px;
    height: 100px;
}
.vd-info {
    margin-left: 10px;
    width: 50%;
    float: left;
}
.vd-info .vd-name {
    font-weight: 700;
}
.vd-info .vd-channel,
.vd-info .vd-views-time {
    font-size: 15px;
    color: gray;
}

/*-------------------------------------------Channel-View Section-------------------------------------------------*/

.video-details {
    margin: 10px 0;
}
.video-details .vd-name p{
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 20px;
}
.channel .logo {
    float: left;
}
.channel .logo img {
    height: 50px;
}
.channel .channel-info {
    float: left;
}
.channel .channel-info .name{
    font-size: 17px;
    margin: 0 0 0 10px;
    font-weight: 500;
}
.channel .channel-info .subscribers{
    margin: 0 0 0 10px;   
}
.channel .subscribe-btn {
    float: right;
    margin: 10px auto;
}

/*------------------------------------------Comment Section-------------------------------------------------*/

.comment-container {
    margin-top: 30px;
}
.comment-container .user-profile {
    float: left;
}
.comment-container .user-profile img {
    height: 45px;
}
.comment-container .user-info {
    float: left;
}
.comment-container .user-info .name {
    margin: 0 0 0 10px;
    font-size: 15px;
    font-weight: 500;
}
.comment-container .user-info .comment {
    margin: 0 0 0 10px;
    font-size: 15px;
}
.comment-container .user-comment{
    margin-top: 30px;
}