.CV-vd-queue {
    width: 100%;
    margin-bottom: 10px;
}
.CV-vd-queue:hover {
    background-color: rgb(238, 238, 238);
} 
.CV-header {
    background-color: #c4c4c4;
    position: sticky;
    z-index: 1;
    top: 40px;
}
.CV-vd-queue .remove-video-btn {
    font-size: 18px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: rgb(255, 96, 96);
    visibility: hidden;
    z-index: 2;
}
.CV-vd-queue:hover .remove-video-btn {
    visibility: visible;
}
.CV-vd-queue .remove-video-btn:focus {
    outline: none;
}
.CV-vd-queue .vd-play-btn {
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.CV-vd-queue .vd-play-btn:focus {
    outline: none;
}
.CV-vd-queue:hover {
    background-color: rgb(230, 230, 230);
}

/* --------------- Spinner ---------------- */

.CV-vd-container .spinner {
    margin: 200px auto;
}