.uploader-container {
  padding: 50px 170px 200px;
  overflow: auto;
  height: 94vh;
}
.files .input-btn {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  padding: 100px 0px 20px 0px;
  text-align: center !important;
  margin: 0;
  background-color: transparent;
  width: 100% !important;
}
.files .file-name {
  text-align: center;
  color: gray;
}

.files .input-btn:focus {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear; 
  border:1px solid #92b0b3;
}

.files {
  position:relative
}

.files::after {  
  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: "";
  background-image: url('https://image.flaticon.com/icons/png/128/109/109612.png');
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}

.files::before {
  pointer-events: none;
  width: 100%;
  content: "";
  display: block;
  margin: 0 auto;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}
.input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid rgb(177, 177, 177);
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.input:focus {
  border-bottom: 2px solid rgb(142, 142, 255);
  outline: none;
}
.text-area {
  border: 2px solid rgb(177, 177, 177);
  width: 100%;
  resize: none;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.text-area:focus {
  border: 2px solid rgb(142, 142, 255);
  outline: none;
}
.react-tag-input {
  border-radius: 0 !important;
  border: none !important;
  border-bottom: 2px solid rgb(177, 177, 177) !important;
  width: 100% !important;
  margin-bottom: 10px !important;
}
.react-tag-input:focus-within {
  border-color: rgb(142, 142, 255)!important;
}
.react-tag-input__input {
  padding: 5px 10px !important;
}
.input-btn .file-name {
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.reactEasyCrop_Container {
  z-index: 1;
}
/* .modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgb(153, 153, 153, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .modalContainer {
  display: block;
  margin: auto;
  width: 50%;
  border-radius: 15px;
  box-shadow: 5px 10px 18px #888888;
  background-image: linear-gradient(to bottom right, #d5eeff, rgb(255, 224, 228), #cbe9ff, rgb(255, 205, 214));
} */